nav {
    background-color: yellow;
    height: 100vh;
    width: 20vw;
    position: absolute;
    margin: 0;
    padding: 0; 
}

.my_nav_container {
    height: 95vh;
    padding: 0;
}

#logo img {
    width: 100%;
    height: auto;
    padding: 15px;
}

ul.navbar-nav {
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 100px;
}

li.nav-item {
    height: 60px;
}

a.nav_link {
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    padding-left: 15%;
}

.nav-text {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.icon_placeholder {
    margin-right: 10px;
}

a.nav_link:hover, a.nav_link:active {
    background-color: navy;
    color: white;
    border-radius: 5px;
}

.form-control {
    display: inline-block;
    width: auto;
    color: #6c757d;
    border-color: #6c757d;
}

.my_btn {
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
}