@import "variables";
@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://cdn.jsdelivr.net/npm/pokemon-font/css/pokemon-font.css');
#root {
    background-color: $pkmn-logo-blue;
    min-height: 100vh;
    min-width: 100vw;
    --line-color: #{$pkmn-logo-yellow};
}

.navbar {
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 0.2em;
    &.bg-pokemon {
        background-color: $pkmn-logo-yellow !important;
    }
    .nav-link {
        color: #000 !important;
        &:hover {
            color: $pkmn-logo-blue !important;
        }
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.developer {
    margin: 15px auto;
    .container {
        margin-bottom: 25px;
        &.me {
            width: 90%;
            color: #FFF;
            background: linear-gradient(-45deg, $pkmn-logo-blue-dark, lighten($pkmn-logo-blue-dark, 30%));
            border: 10px solid;
            border-image-slice: 1;
            border-width: 5px;
            border-image-source: linear-gradient(45deg, $pkmn-logo-yellow-dark, $pkmn-logo-yellow);
            a {
                color: $pkmn-logo-yellow;
            }
            img {
                border-radius: 50%;
                margin: 15px auto;
                width: 140px;
                height: 140px;
                display: block;
            }
            h1 {
                font-size: 0.8em;
                text-align: center;
                font-family: 'pokemon-font', monospace;
            }
            span {
                display: block;
                margin: 0.5em auto;
                font-family: 'pokemon-font', monospace;
                font-size: 0.9em;
            }
        }
        &.favorites {
            .card {
                min-width: 127px;
                height: 370px;
                margin-bottom: 15px;
                img {
                    display: block;
                    margin: auto;
                }
                h2 {
                    text-transform: uppercase;
                    text-align: center;
                    font-family: 'Pokemon Solid', sans-serif;
                    font-size: 1.5em;
                    margin-bottom: 20px;
                }
            }
            .card-front {
                background: linear-gradient(-45deg, $pkmn-logo-blue-dark, lighten($pkmn-logo-blue-dark, 30%));
                border: 10px solid;
                border-image-slice: 1;
                border-width: 5px;
                border-image-source: linear-gradient(45deg, $pkmn-logo-yellow-dark, $pkmn-logo-yellow);
                img {
                    width: 80px !important;
                    height: 80px !important;
                }
            }
            .card-back {
                border-image-slice: 1 !important;
                border-width: 5px;
                border: 10px solid;
                &#ampharos-mega {
                    background: linear-gradient(-45deg, $ampharos-red, lighten($ampharos-red, 30%));
                    border-image-source: linear-gradient(45deg, $ampharos-yellow, darken($ampharos-yellow, 30%));
                    color: $ampharos-yellow;
                }
                &#grimmsnarl {
                    background: linear-gradient(-45deg, $grimmsnarl-purple, lighten($grimmsnarl-purple, 30%));
                    border-image-source: linear-gradient(45deg, $grimmsnarl-white, darken($grimmsnarl-white, 30%));
                    color: $grimmsnarl-white;
                }
                &#espeon {
                    background: linear-gradient(-45deg, $espeon-purple, lighten($espeon-purple, 30%));
                    border-image-source: linear-gradient(45deg, $espeon-green, darken($espeon-green, 30%));
                    color: $espeon-green;
                }
                &#urshifu {
                    background: linear-gradient(-45deg, lighten($urshifu-gray, 30%), $urshifu-gray);
                    border-image-source: linear-gradient(45deg, $urshifu-yellow, darken($urshifu-yellow, 30%));
                    color: lighten($urshifu-yellow, 10%);
                }
                &#corviknight-gmax {
                    background: linear-gradient(-45deg, lighten($corviknight-red, 30%), $corviknight-red);
                    border-image-source: linear-gradient(-45deg, $corviknight-gray, darken($corviknight-gray, 30%));
                    color: darken($corviknight-gray, 20%);
                }
                &#reshiram {
                    background: linear-gradient(-45deg, lighten($reshiram-gold, 30%), $reshiram-gold);
                    border-image-source: linear-gradient(45deg, $reshiram-gray, darken($reshiram-gray, 30%));
                    color: darken($reshiram-gray, 20%);
                }
            }
        }
    }
}

.pokedex {
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(82px, 1fr));
    .entry {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        border-radius: 50%;
        img {
            width: 96px * 1.3;
            height: 96px * 1.3;
        }
        @each $name,
        $color in $types {
            &.type1-#{$name} {
                background: darken($color, 20%);
            }
            &.type2-#{$name} {
                border: solid 3px $color;
            }
        }
    }
}

.pokemodal {
    //background: darken($pokeball-red, 20%);
    border-radius: 15px;
    .modal-header {
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        //background: darken($pokeball-red, 20%);
        //color: #FFF;
        img {
            height: 40px;
            width: 40px;
            margin-left: 5px;
        }
    }
    .modal-title {
        //font-family: 'Pokemon Solid', sans-serif;
        font-family: 'pokemon-font', monospace;
        text-transform: uppercase;
    }
    #prof-oak {
        position: absolute;
        height: 430px;
        right: -180px;
    }
    .carousel {
        width: 100%;
        .carousel-indicators {
            top: 100%;
        }
        .carousel-inner {
            .carousel-item>img,
            .carousel-item>a>img {
                width: 100%;
                margin: auto;
            }
            .carousel-caption {
                top: 92%;
                padding: 0;
                bottom: 0;
                left: 0;
                right: 0;
                font-size: 0.8em;
            }
        }
        .carousel-control-next,
        .carousel-control-prev {
            top: 100%;
        }
    }
    .modal-footer {
        font-family: 'pokemon-font', monospace;
        font-weight: bolder;
        justify-content: unset;
    }
}

.vertical-timeline-element {
    .vertical-timeline-element-date {
        top: -45px !important;
        font-family: 'Pokemon Solid', sans-serif;
        font-size: 2rem !important;
        color: $pkmn-logo-yellow;
        opacity: unset !important;
        text-shadow: 2px 2px 0 $pkmn-logo-blue-dark;
        &:nth-child(odd) {
            text-align: left;
        }
    }
    .vertical-timeline-element-image,
    .vertical-timeline-element-video {
        width: 100%;
        padding-bottom: 24px;
    }
    .vertical-timeline-element-content-arrow {
        border-right: 7px solid $pkmn-logo-yellow;
    }
    .vertical-timeline-element-icon {
        background: #FFF;
        box-shadow: 0 0 0 4px $pkmn-logo-yellow, inset 0 2px 0 rgb(0 0 0 / 8%), 0 3px 0 4px rgb(0 0 0 / 5%);
        img {
            top: 9px;
            left: 9px;
            width: 42px;
            height: 42px;
            position: relative;
        }
    }
    .vertical-timeline-element-content {
        background: $pkmn-logo-yellow;
        box-shadow: 0 3px 0 $pkmn-logo-yellow-dark;
        h1 {
            font-weight: 500;
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 990px) {
    a.nav-link>br {
        display: none !important;
    }
    .pokemodal {
        .carousel {
            .carousel-inner {
                .carousel-item>img,
                .carousel-item>a>img {
                    width: 50%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .modal-footer {
            flex-wrap: unset;
        }
        #prof-oak {
            height: 200px;
            right: unset;
            position: unset;
        }
        .carousel {
            .carousel-indicators {
                top: 4%;
            }
            .carousel-inner {
                .carousel-caption {
                    top: 0%;
                }
            }
            .carousel-control-next,
            .carousel-control-prev {
                top: 50%;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}

@media (max-width: 1170px) {
    .vertical-timeline-element {
        .vertical-timeline-element-date {
            color: $pkmn-logo-blue !important;
            font-size: 1.2rem !important;
            text-shadow: unset;
        }
        .vertical-timeline-element-icon {
            img {
                top: 5px;
                left: 5px;
                width: 30px;
                height: 30px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .developer {
        .container {
            &.favorites {
                .row>div:nth-child(3) {
                    img {
                        width: 45%;
                    }
                }
                .row>div:nth-child(5) {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .developer {
        .container {
            &.favorites {
                img {
                    width: 52%;
                }
                .row>div:nth-child(3),
                .row>div:nth-child(4) {
                    img {
                        width: 30%;
                    }
                }
                .row>div:nth-child(5) {
                    img {
                        width: 100%;
                    }
                }
                .row>div:nth-child(6) {
                    img {
                        width: 70%;
                    }
                }
            }
        }
    }
}